:root {
	--brand-orange: #ff6600;
	--brand-purple: #9900cc;
	--brand-blue: #0078ba;
	--brand-green: #669933;
	--brand-orange-light: #ffcc00;
	--brand-blue-light: #00ffff;
	--brand-green-light: #99ff00;
}

body {
	margin: 0;
	color: rgb(31, 31, 31);
}

.hide-overflow {
	overflow: hidden !important;
}

::selection {
	color: #fff;
	background: var(--brand-purple);
}

main {
    min-height: 90vh;
    max-width: 100vw;
    overflow: hidden;
}

section {
    margin-bottom: 2em;
    perspective: '500px';
}

/* Header */
header {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100vw;
	padding: 1em 0;
}

#logo {
	filter: drop-shadow(2px 2px 5px rgba(0,0,0,.8));
	width: 100px;
}


/* Hero Section */
#hero {
	display: flex;
	position: relative;
	background: #333;
	transform-origin: center center;
	transform: scale(2);
	background-image: url("../imgs/space-4.JPG");
	background-position: center center;
	background-size: 100vh;
	font-size: 1;
}

#question {
	font-family: laila;
	margin: auto;
	display: flex;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

#question > div {
	margin: auto;
	width: 50vw;
	height: 50vh;
	background-image: url('../imgs/abstract-2.jpg');
	background-size: cover;
	background-blend-mode: overlay;
	display: flex;
	box-shadow: 0 0 0 2em #fff;
	box-sizing: border-box;
}

#question .content {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	background: rgba(0,0,0,0.3);
}

#question p {
	margin: auto;
	padding: 2em;
	font-size: 2.7em;
	font-weight: 900;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 10px #000;
}

#main {
	width: 100%;
	/* height: 100%; */
	font-size: 1.5em;
	color: #fff;
	background: rgba(0,0,0,.5);
	transform: scale(1);
	opacity: 0;
}

#main > div {
	box-sizing: border-box;
	padding: 2em;
	padding-left: 5%;
	min-height: 100%;
	background: linear-gradient(to right, rgba(0, 0, 0, .8) 70%, transparent);
	padding-top: 18vh;
}

#main h1,
#main p  {
	max-width: 700px;
}

#hero form {
	max-width: 700px;
	margin-top: 1.3em;
}

#hero form > div {
	display: flex;
}

#hero input {
	display: inline-block;
	background: rgba(255, 255, 255, 0.1);
	border: 2px solid rgb(54, 54, 54);
	font-size: .9em;
	padding: .9em 1.2em;
	flex-grow: 1;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	border-radius: .5em 0 0 .5em;
	letter-spacing: 1px;
	font-weight: light;
}

#hero input:focus {
	outline: 0;
	background: rgba(255, 255, 255, 0.2);
	border-color: transparent;
}

#hero input::placeholder {
	font-size: .9em;
	color: #c5c5c5;
}

h1 {
	font-family: 'Laila';
	font-size: 3em;
	margin-top: 0;
}

/* For Everyone Section */
#for-everyone {
	background: #fff;
}

#for-everyone .img-showcase {
	padding: 1em 0;
}

#for-everyone .img-showcase > .box {
	text-align: center;
	flex-grow: 1;
	color: #fff;
	background-color: rgba(0,0,0,.4);
	background-position: center;
	background-size: cover;	
	background-blend-mode: overlay;
	box-sizing: border-box;
	text-shadow: 0 0 15px rgba(0,0,0,.9);
	padding: 4em 3em;
	border-radius: .4em;
	box-shadow: 0 4px 15px -5px rgba(0,0,0,.3);
	transition: all ease-in-out 250ms;
	/* margin: .2em;  */
}

#for-everyone .box.homes {
	background-image: url("../imgs/homes.jpg");
}

#for-everyone .box.offices {
	background-image: url("../imgs/offices.jpg");
}

#for-everyone .box.hotels {
	background-image: url("../imgs/hotels.jpg");
}

#for-everyone .box.resturants {
	background-image: url("../imgs/resturants.jpg");
}

#for-everyone .box.halls {
	background-image: url("../imgs/halls.jpg");
}

#for-everyone .box.hospitals {
	background-image: url("../imgs/hospitals.jpg");
}

#for-everyone .img-showcase > .box:hover {
	background-color: rgba(0,0,0,.2);
	transform: scale(1.2);
}

#for-everyone .img-showcase > .box > span {
	font-size: 1.2em;
}

/* Share Art section */
#share-art {
	padding: 3em 0;
}

#share-art .box {
	margin-bottom: 3em;
}

#share-art .img-showcase {
	position: relative;
	max-width: 520px;
	/* transform: translateY(100px); */
}

#share-art .map {
	width: 100%;
	stroke: #fff;
	stroke-width: 3em;
	filter: drop-shadow(0 0 10px rgba(0,0,0,.2))
}

#map-images {
	transform: scale(.8);
	transform-origin: center;
	position: absolute;
	top: 12%;
	left: 20%;
}

#map-images > img {
	display: block;
	position: absolute;
	top: 30px;
	min-width: 70%;
	min-width: 400px;
	object-fit: cover;
	object-position: 50% 10%;
	max-width: 400px;
	max-height: 300px;
	border: .6em solid #fff;
	border-radius: .3em;
	box-shadow:  0 0 20px -5px rgba(0,0,0,.1);
}

#map-images > img:nth-of-type(2) {
	margin-top: 60px;
}

#map-images > img:nth-of-type(3) {
	margin-top: 120px;
}

#map-images > img::after {
	content: "";
	display: block;
	position: absolute;
	top: -1em; bottom: -1em;
	left: -1em; right: -1em;
	background: red;
	z-index: 1;
}

/* Discover Art Section */
#discover-art {
	padding: 3em 0;
	background: #333;
}

#discover-art .content {
	position: relative;
	align-self: stretch;
	background: #333;
	color: #fff;
	padding: 1em;
	/* border-radius: 2em; */
	box-shadow: -15vw 0 0 #333;
}

#discover-art .content::after {
	/* content: ""; */
	position: absolute;
	top: -.5em; bottom: -.5em;
	left: -13vw; right: -.5em;
	background: linear-gradient(to right, #ff6600 0%,#ff6600 15vw, #9900cc, #0078ba, #669933 105%);
	z-index: -1;
	border-radius: 2em;
}

/* #discover-art .content::after {
	content: "";
	position: absolute;
	top: -1em; bottom: -1em;
	left: -1em; right: -1em;
	background: linear-gradient(to right, #ff6600 -5%, #9900cc, #0078ba, #669933 105%);
	z-index: -1;
} */

#discover-art .img-showcase {
	position: relative;
	min-height: 350px;
	max-width: 90vw;
	background: #eee;
	border-radius: .2em;
	/* box-shadow: 0 0 0 .7em #fff, 0 0 25px .6em  rgba(0,0,0,.2); */
	box-sizing: border-box;
}

#discover-art .img-showcase::after {
	content: "";
	position: absolute;
	top: -3px; bottom: -3px;
	right: -3px; left: -3px;
	/* background: #000; */
	/* box-shadow: inset 15px 0 30px -15px #fff; */
	background: linear-gradient(to right, #333 0, transparent 10%, transparent 90%, #333);
}

#discover-art .img-show {
	position: absolute;
	left: 0; right: 0;
	background: url("../imgs/img-show.jpg");
	background-size: auto 350px;
}

#discover-art .img-show.a {
	top: 0; bottom: 50%;
	animation: slide-right linear 10s infinite;
}

@keyframes slide-right {
	85% {
		opacity: 1;
		background-position: -210% 0;
	}

	100% {
		/* opacity: 0; */
		background-position: -260% 0;
	}
}


#discover-art .img-show.b {
	top: 50%; bottom: 0;
	background-position: 0 100%;
	animation: slide-left linear 10s infinite;
}

@keyframes slide-left {
	85% {
		opacity: 1;
		background-position: 210% 100%;
	}

	100% {
		/* opacity: 0; */
		background-position: 260% 100%;
	}
}



/* How it Works Section */
#how-it-works {
	/* background: url("../imgs/Final\ render\ \'\'Art\ my\ space\'\'.png"); */
	/* background: #9900cc2d; */
	/* background: linear-gradient(to right, #ff6600 -5%, #9900cc, #0078ba, #669933 105%); */
	/* background: #000; */
	background-size: cover;
	background-position: center;
}

#how-it-works h2 {
	margin-top: 0;
	margin-bottom: 1.5em;
}

#how-it-works .box {
	padding: 2em;
	padding-top: 4em;
	padding-left: 2.5em;
	margin-bottom: 3em;
	border-radius: .2em;
	position: relative;
	background: var(--brand-purple);
	color: #fff;
	text-align: center;
	max-width: 700px;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.7)
}

#how-it-works .box:nth-of-type(2) {
	background: var(--brand-blue);
}


#how-it-works .box:nth-of-type(1) {
	background: var(--brand-orange);
}


#how-it-works .box:nth-of-type(3) {
	background: var(--brand-green);
}

#how-it-works h3 {
	font-size: 1.4em;
	margin-top: 0;
}

#how-it-works p {
	margin-bottom: 0;
}

#how-it-works .counter {
	position: absolute;
	top: -.6em;
	left: 43%;
	left: calc(50% - 1em);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	width: 2em;
	height: 2em;
	/* background: rgba(255, 255, 255, 0.514); */
	color: #333;
	border-radius: 100%;
	z-index: 1;
}

#how-it-works .counter::before {
	content: "";
	position: absolute;
	top: -.2em; bottom: -.2em;
	left: -.2em; right: -.2em;
	background: #333;
	background: linear-gradient(to right, #ff6600 -5%, #9900cc, #0078ba, #669933 105%);
	border-radius: 100%;
	box-shadow: 3px 5px 7px rgba(0,0,0,.3);
	z-index: -1;
}

#how-it-works .counter::after {
	content: "";
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	background: rgba(255, 255, 255, 1);
	border-radius: 100%;
	z-index: -1;
}

#how-it-works .box:nth-child(1) .counter::before {
	background: linear-gradient(40deg, var(--brand-orange-light), var(--brand-orange))
}

#how-it-works .box:nth-child(2) .counter::before {
	background: linear-gradient(40deg, var(--brand-blue-light), var(--brand-blue))
}

#how-it-works .box:nth-child(3) .counter::before {
	background: linear-gradient(-40deg, var(--brand-green-light), var(--brand-green))
}

#how-it-works .box:nth-child(4) .counter::before {
	background: linear-gradient(to right, var(--brand-purple), var(--brand-orange))
}

/* Join Section */
#join {
	padding: 0;
	background-size: cover;
}

#join .container {
	padding: 4em 0;
}

#join .boxes {
	margin-bottom: 2em;
}

#join .box img {
	max-width: 300px;
	max-height: 300px !important;
}

#join .box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
}

#join .box img {
	display: block;
	margin: 1em;
	margin-bottom: 3em;
	filter: drop-shadow(-5px 5px 10px rgba(0,0,0,.5));
}

#join .box > div {
	display: flex;
	justify-content: center;
	align-items: center;
	/*flex-grow: 3;*/
}

#join .box > span {
	font-size: 1.2em;
	/*flex-grow: 2;*/
}

#twenty-percent-off > span {
	display: inline-block;
	background: crimson;
	color: #fff;
	font-size: 3em;
	padding: .7em;
	border-radius: 100%;
	outline: .2em dotted #fff;
	outline-offset: -10px;
	transform: rotate(-20deg);
	margin: 1em;
}

/* Footer */
footer {
	font-size: 1em;
	padding: 4em 0;
	padding-bottom: 2em;
	background: #333;
	color: #fff;
}

#footer-social {
	margin-right: 2em;
}

#footer-social a {
	display: flex;
	align-items: center;
	padding: .5em 1em;
	margin-right: .4em;
	text-decoration: none;
	color: inherit;
	border-radius: .2em;
	transition: all ease-in-out 250ms;
}

#footer-social a:hover {
	background: #fff;
	color: #333;
}

#footer-social a:hover > svg {
	fill: currentColor;
	color: #333;
}

#footer-social a > svg {
	margin-right: .5em;
	max-height: 25px;
	max-width: 25px;
	transition: inherit;
}

#gigcreative-attr a{
	text-decoration: none;
}

/* Join Us form */
body {
	/* overflow: hidden; */
}

#join-form {
	position: fixed;
	top: 0; left: 0;
	right: 0;
	height: 100vh;
	padding: 2em 2em;
	top: 0;
	z-index: 1;
	font-size: 1.1em;
	overflow: auto;
	background: rgba(0,0,0,0.8);
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	transition: all ease-in-out 150ms;
	z-index: 1;
}

#join-form.show {
	visibility: visible;
	opacity: 1;
}

#join-form .close-modal {
	position: absolute;
	top: 1em;
	right: 1em;
	background: none;
	border: 0;
	position: absolute;
}

#join-form .close-modal > span {
	display: none;
}

#join-form .overlay {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: -1;
}

#join-form .img-showcase {
	background: url("../imgs/artmyspace_logo_3d.png");
	background-position: center;
	background-size: cover;
}

#join-form .content {
	margin: auto;
	position: relative;
	max-width: 700px;
	padding: 2em 3em;
	box-sizing: border-box;
	background: #fff;
	z-index: 1;
	box-shadow: 0 10px 30px rgba(0,0,0,.9);
	transform: scale(.92);
	transition: all cubic-bezier(.09, .18, .1, 2.96) .7s;
}

@media (min-width: 710px) {
	#join-form .content {
		min-width: 700px;
	}
}

#join-form.show .content {
	transform: scale(1);
}

#join-form .content h2 {
	margin-top: 0;
}

#join-form form p {
	margin-top: 1.5em;
	font-weight: bold;
}

#join-form input {
	display: inline-block;
	position: relative;
	font-size: 1em;
	font-family: inherit;
	padding: .7em 1.2em;
	border: 2px solid #333;
	border-radius: .2em;
	width: 100%;
	box-sizing: border-box;
} 

#join-form input[type=email],
#join-form input[type=text]	{
	margin: 1.5em 0;
	background: transparent;
}


#join-form input[required] label::after {
	content: "*";
	color: #dc143c;
	background: red;
}

#join-form .names > div {
	flex-basis: 48%;
	margin-right: .1%;
}

#join-form input[type=text] + label,
#join-form input[type=email] + label {
	position: absolute;
	top: 0px;
	left: 0;
	
}	

#join-form input[type=radio] {
	display: block;
	position: absolute;
	clip: rect(0,0,0,0);
}

#join-form input[type=radio] + label {
	margin-right: 1em;
	padding-left: 1.5em;
	cursor: pointer;
}


#join-form input[type=radio]:focus + label:hover::before,
#join-form input[type=radio]:focus + label::before {
	background: #333 !important;
}

#join-form input[type=radio] + label::before {
	content: "";
	position: absolute;
	left: 0; top: -.2em;
	display: inline-block;
	width: 1em; height: 1em;
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 0 0 2px #333;
	transition: all ease-in-out 250ms;
}

#join-form input[type=radio]:checked + label::before {
	background: #333;
	box-shadow: 0 0 0 2px #fff, 0 0 0 5px #333, inset 0 0 0 1px #fff;
}

#form-home-or-office {
	display: none;
}

#form-home-or-office.show {
	display: unset;
}

#form-agreement p {
	font-size: .9em;
	font-weight: normal !important;
}

#join-form-submit {
	padding: 1em 0;
}

#join-form-submit button {
	font-family: inherit;
	transition: all ease-in-out 200ms;
	cursor: pointer;
}

#form-success,
#form-fail {
	font-size: 1.2em;
}

#form-success .big,
#form-fail .big {
	font-size: 1.2em;
}

#form-fail button {
	font-size: 1.2rem;
}

/* Form content beviour */
#join-form[data-state="0"] #form-sucess, 
#join-form[data-state="0"] #form-fail {
	display: none;
}

#join-form[data-state="success"] form, 
#join-form[data-state="success"] #form-fail {
	display: none;
}

#join-form[data-state="fail"] form, 
#join-form[data-state="fail"] #form-success {
	display: none;
}

/* Media Queries */
@media(max-width: 1050px) {
	#question {
		font-size: .7em;
	}

	#question p {
		padding: .5em;
	}

	#share-art .box {
		margin-bottom: 3em;
	}
}

@media(max-width: 768px) {
	#hero {
		text-align: center !important;
	}

	#main > div {
		background: rgba(0,0,0,.8);
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 6em;
	}

	#question {
		font-size: .7em;
	}

	#question p {
		padding: .5em;
	}

	#discover-art .img-show.a, 
	#discover-art .img-show.b {
		animation-duration: 70s;
	}
}


@media(max-width: 550px) {
	#footer-social-and-attr {
		justify-content: center;
	}

	#footer-social {
		margin: 0;
	}
}

@media(max-width: 360px) {
	#how-it-works .box {
		padding-left: 1em;
		padding-right: 1em;
	}
}